<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
  <title>ListProducts</title>
</head>
<body>
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'get-products' %}">ALL-INCLUSIVE</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'get-products' %}">Home</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              ОДЕЖДА
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{% url 'get-clothing' %}">Одежда</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="uk-nav-divider dropdown-item" href="{% url 'get-pants' %}">Брюки</a></li>
              <li><a class="dropdown-item" href="{% url 'get-jumpers' %}">Джемпера</a></li>
              <li><a class="dropdown-item" href="{% url 'get-jeans' %}">Джинсы</a></li>
              <li><a class="dropdown-item" href="{% url 'get-jackets' %}">Куртки</a></li>
              <li><a class="dropdown-item" href="{% url 'get-coats' %}">Пальто</a></li>
              <li><a class="dropdown-item" href="{% url 'get-shirts' %}">Рубашки</a></li>
              <li><a class="dropdown-item" href="{% url 'get-tshirts' %}">Футболки</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            ОБУВЬ
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{% url 'get-shoes' %}">Обувь</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="{% url 'get-boots' %}">Ботинки</a></li>
            <li><a class="dropdown-item" href="{% url 'get-sneakers' %}">Кроссовки</a></li>
            <li><a class="dropdown-item" href="{% url 'get-moccasins' %}">Мокасины</a></li>
            <li><a class="dropdown-item" href="{% url 'get-list-shoes' %}">Туфли</a></li>
          </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              АКСЕССУАРЫ
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{% url 'get-accessories' %}">Аксессуары</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="{% url 'get-ties' %}">Галстуки</a></li>
              <li><a class="dropdown-item" href="{% url 'get-wallets' %}">Кошельки</a></li>
              <li><a class="dropdown-item" href="{% url 'get-belts' %}">Ремни</a></li>
              <li><a class="dropdown-item" href="{% url 'get-bags' %}">Сумки</a></li>
              <li><a class="dropdown-item" href="{% url 'get-scavers' %}">Шарфы</a></li>
            </ul>
          </li>
          <li class="nav-item row">
            {% if user.is_authenticated %}
            <a class="nav-link active col" aria-current="page" href="{% url 'add-product' %}">Добавить</a>
            {% endif %}
            {% if not user.is_authenticated %}
            <a class="nav-link active col" aria-current="page" href="{% url 'login_user' %}">Вход</a>
            <a class="nav-link active col" aria-current="page" href="{% url 'signup' %}">Регистрация</a>
            {% else %}
            <a class="nav-link active col" aria-current="page" href="{% url 'logout_user' %}">Выход</a>
            {% endif %}
            {% if user.is_authenticated %}
            <a class="nav-link active col" aria-current="page" href="">{{ user.username }}</a>
            {% endif %}
          </li>
        </ul>
        <form class="d-flex" role="search" method="post" action="{% url 'search-product' %}">
          {% csrf_token %}
          <input name="search_string" class="form-control me-2" type="search" placeholder="Поиск" aria-label="Search">
          <button class="btn btn-success" type="submit">Поиск</button>
        </form>
      </div>
    </div>
  </nav>

  <h1 class="text-center">Список товаров</h1>
  {# Кнопка скрывается, если пользователь не вошёл в систему #}
  {% if user.is_authenticated %}
  <a class="btn btn-outline-success" href="{% url 'add-product' %}">Добавить</a>
  {% endif %}
  <table class="table table-hover table-info table-striped-columns table-bordered border-black overflow-x-visible">
    <thead class="fw-bold h4 text-center">
    <tr>
      <th>Наименование</th>
      <th>Артикул</th>
      <th class="d-none d-md-table-cell">Цвет</th>
      <th class="d-none d-md-table-cell">Цена</th>
      <th class="d-none d-lg-table-cell">Количество</th>
      <th></th>
    </tr>
    </thead>
    <tbody class="align-middle text-center">
    {% for product in products %}
    <tr>
      <td>{{ product.name_prod }}</td>
      <td>{{ product.article }}</td>
      <td class="d-none d-md-table-cell">{{ product.color }}</td>
      <td class="d-none d-md-table-cell">{{ product.price }}</td>
      <td class="d-none d-md-table-cell">{{ product.product_count }}</td>
      <td>
        <a href="/product/get-product-by-id/{{ product.id }}/" class="btn btn-outline-primary">Подробнее</a>
      </td>
    </tr>
    {% endfor %}
    </tbody>
  </table>
</body>
</html>
